<!DOCTYPE html>
<html>
  <head>
    <!-- Local CSS -->
    <link rel="stylesheet" href="./assets/css/styles.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>GMSS-Profile</title>
  </head>
  <body>
        <nav>
            <div class="nav-wrapper green darken-3">
                <a href="/" class="brand-logo yellow-text">SUMSPACE</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/" class="yellow-text">Home</a></li>
                    <li><a class="yellow-text disabled">Profile</a></li>
                    <li><a href="/FAQ" class="yellow-text">FAQ</a></li>
                    <li><a href="/" class="yellow-text">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col s12 green darken-4 center yellow-text">
                <h1><i class="medium material-icons">home</i> GIVE ME SUMSPACE PROFILE <i class="medium material-icons">location_city</i></h1>
                <h5>Sign-Up with us and we'll take it from here.</h5>
                <br>
            </div>
        </div>

      <div class="container">
        <div class="row">
            <div class="col s12 green darken-4 yellow-text">
                <h3 class="center"><i class="small material-icons">person</i> Create Profile! <i class="small material-icons">create</i></h3>
            </div>
            <div class="col s12 green darken-4">
                <div class="row">
                    <form class="col s12 yellow-text">
                      <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name" class="yellow-text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name" class="yellow-text">Last Name</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s6">
                          <input id="user_name" type="text" class="validate">
                          <label for="user_name" class="yellow-text">UserName</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="password" type="password" class="validate">
                          <label for="password" class="yellow-text">Password</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s6 offset-s3">
                          <i class="tiny material-icons prefix">email</i>
                          <input id="email" type="email" class="validate">
                          <label for="email" class="yellow-text">Email</label>              
                        </div>
                      </div>

                      <div class="row">
                          <div class="col s8 offset-s3 yellow-text">
                            <form>
                              <h5 id="q1">What role are you playing?
                                <label class="yellow-text">
                                  <input name="q1" type="radio" checked />
                                  <span>Searcher</span>
                                </label>
                                <label class="yellow-text">
                                    <input name="q1" type="radio" checked />
                                    <span>Provider</span>
                                </label>
                              </h5>
                            </form>    
                        </div>
                      </div>
                    </form>
                  </div>

                <div class="center">
                    <a id="submit" href="/Quest1" class="btn-large pulse black yellow-text"><i class="material-icons left">person_add</i>Submit Profile</a>
                    <br><br>
                </div>
            </div>
        </div>

        <div class="row">   
            <div class="col s12 green darken-4 yellow-text">
                <div class="container center">
                    <p>© 2020 Copyright Text</p>
                    <p>Created by James Goff, Marcos Luna and Alejandro Santillan Jr.</p>
                </div>
            </div>
        </div> 
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
   </body>
</html>