<!DOCTYPE html>
<html>
  <head>
    <!-- Local CSS -->
    <link rel="stylesheet" href="./assets/css/styles.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>GMSS-SearchQuestionaire</title>
  </head>
  <body>
        <nav>
            <div class="nav-wrapper green darken-3">
                <a href="/" class="brand-logo yellow-text">SUMSPACE</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/" class="yellow-text">Home</a></li>
                    <li><a href="/CreateProfile" class="yellow-text">Profile</a></li>
                    <li><a href="/FAQ" class="yellow-text">FAQ</a></li>
                    <li><a href="/" class="yellow-text">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col s12 green darken-4 center yellow-text">
                <h1><i class="medium material-icons">home</i> SEARCHER QUESTIONAIRE <i class="medium material-icons">location_city</i></h1>
                <h5><i class="small material-icons">search</i><i class="small material-icons">search</i><i class="small material-icons">search</i><i class="small material-icons">search</i><i class="small material-icons">search</i></h5>
                <br>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col s12 green darken-4 yellow-text">
                <h5 class="center"><i class="small material-icons">person</i> Answer a few questions and leave the matching to us. <i class="small material-icons">create</i></h5>
            </div>
            <div class="col s12 green darken-4">
                <div class="row">
                    <form id="q1">
                        <div class="col s6 yellow-text">
                            <h5>1. Do you have a pet?</h5>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>Yes</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>No</span>
                            </label>                            
                        </div>
                    </form>

                <div class="col s6 yellow-text">
                    <form id="q2">
                        <h5>2. Are you a smoker?</h5>
                        <label class="yellow-text">
                            <input name="q2" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label class="yellow-text">
                            <input name="q2" type="radio" checked />
                            <span>No</span>
                        </label>
                    </form>
                </div>

                <div class="col s6 yellow-text">
                    <form id="q3">
                        <h5>3. Do you need furnished SPACE?</h5>
                        <label class="yellow-text">
                            <input name="q3" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label class="yellow-text">
                            <input name="q3" type="radio" checked />
                            <span>No</span>
                        </label>
                    </form>
                </div>
                <div class="col s6 yellow-text">
                    <form id="q4">
                        <h5>4. Do you want a backyard?</h5>
                        <label class="yellow-text">
                            <input name="q4" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label class="yellow-text">
                            <input name="q4" type="radio" checked />
                            <span>No</span>
                        </label>
                    </form>
                </div>

                <div class="col s6 yellow-text">
                    <form id="q5">
                        <h5>5. Do you need a parking spot?</h5>
                        <label class="yellow-text">
                            <input name="q5" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label class="yellow-text">
                            <input name="q5" type="radio" checked />
                            <span>No</span>
                        </label>
                    </form>
                </div>
                <div class="col s6 yellow-text">
                    <form id="q6">
                        <h5>6. Will you be riding the bus?</h5>
                        <label class="yellow-text">
                            <input name="q6" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label class="yellow-text">
                            <input name="q6" type="radio" checked />
                            <span>No</span>
                        </label>
                    </form>
                </div>

                <div class="col s6 yellow-text">
                    <form id="q7">
                        <h5>7. Will you lease on a weekly basis? Or...</h5>
                        <label class="yellow-text">
                            <input name="q7" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label class="yellow-text">
                            <input name="q7" type="radio" checked />
                            <span>No</span>
                        </label>
                    </form>
                </div>
                <div class="col s6 yellow-text">
                    <form id="q8">
                        <h5>8. Will you lease on a monthly basis?</h5>
                        <label class="yellow-text">
                            <input name="q1" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label class="yellow-text">
                            <input name="q1" type="radio" checked />
                            <span>No</span>
                        </label>
                    </form>
                </div>


                </div>


                <div class="center">
                    <a class="btn-large pulse black yellow-text"><i class="material-icons left">list</i>Submit Questionaire</a>
                    <br><br>
                </div>
            </div>
        </div>

        <div class="row">   
            <div class="col s12 green darken-4 yellow-text">
                <div class="container center">
                    <p>© 2020 Copyright Text</p>
                    <p>Created by James Goff, Marcos Luna and Alejandro Santillan Jr.</p>
                </div>
            </div>
        </div> 
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
   </body>
</html>