<!DOCTYPE html>
<html>
  <head>
    <!-- Local CSS -->
    <link rel="stylesheet" href="..\assets\css\styles.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>GMSS-Questionaire</title>
  </head>
  <body>
        <nav>
            <div class="nav-wrapper green darken-3">
                <a href="#" class="brand-logo yellow-text">SUMSPACE</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/" class="yellow-text">Home</a></li>
                    <li><a href="#" class="yellow-text">Matches</a></li>
                    <li><a href="#" class="yellow-text">Profile</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col s12 green darken-4 center yellow-text">
                <h1><i class="medium material-icons">home</i> GIVE ME SUMSPACE QUESTIONAIRE <i class="medium material-icons">location_city</i></h1>
                <h5>Answer a few questions and leave the matching to us.</h5>
                <br>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col s12 green darken-4 yellow-text">
                <h3 class="center"><i class="small material-icons">person</i> Questionaire <i class="small material-icons">create</i></h3>
            </div>
            <div class="col s12 green darken-4">
                <div class="row">
                    <div class="col s6 yellow-text">
                        <p id="q1">1.  What role are you playing?
                            <label class="yellow-text">
                              <input name="q1" type="radio" checked />
                              <span>Searching</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>Providing</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s6 yellow-text">
                        <p id="q1">2.  Pets?
                            <label class="yellow-text">
                              <input name="q1" type="radio" checked />
                              <span>Yes</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>No</span>
                            </label>
                        </p>
                    </div>

                    <div class="col s6 yellow-text">
                        <p id="q1">3.  Smoking?
                            <label class="yellow-text">
                              <input name="q1" type="radio" checked />
                              <span>Yes</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>No</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s6 yellow-text">
                        <p id="q1">4.  Parking space?
                            <label class="yellow-text">
                              <input name="q1" type="radio" checked />
                              <span>Yes</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>No</span>
                            </label>
                        </p>
                    </div>

                    <div class="col s6 yellow-text">
                        <p id="q1">5.  Furnished?
                            <label class="yellow-text">
                              <input name="q1" type="radio" checked />
                              <span>Yes</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>No</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s6 yellow-text">
                        <p id="q1">6.  Backyard?
                            <label class="yellow-text">
                              <input name="q1" type="radio" checked />
                              <span>Yes</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>No</span>
                            </label>
                        </p>
                    </div>

                    <div class="col s6 yellow-text">
                        <p id="q1">7.  Lease?
                            <label class="yellow-text">
                              <input name="q1" type="radio" checked />
                              <span>Yes</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>No</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s6 yellow-text">
                        <p id="q1">8.  Deposit?
                            <label class="yellow-text">
                              <input name="q1" type="radio" checked />
                              <span>Yes</span>
                            </label>
                            <label class="yellow-text">
                                <input name="q1" type="radio" checked />
                                <span>No</span>
                            </label>
                        </p>
                    </div>


                </div>


                <div class="center">
                    <a class="btn-large pulse black yellow-text"><i class="material-icons left">person_add</i>Submit Questionaire</a>
                    <br><br>
                </div>
            </div>
        </div>

        <div class="row">   
            <div class="col s12 green darken-4 yellow-text">
                <div class="container center">
                    <p>© 2020 Copyright Text</p>
                    <p>Created by James Goff, Marcos Luna and Alejandro Santillan Jr.</p>
                </div>
            </div>
        </div> 
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
   </body>
</html>